<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
  <meta charset="UTF-8">
  <title>New order for user</title>
  <link rel="stylesheet" type="text/css" href="/URLToReachResourcesFolder/css/style.css">
</head>
<body>
<div id="container">
  <div id="header">
    <h1>BOOK SHOP</h1>
  </div>
  <div id="content">
    <div id="nav">
      <ul>
        <li><a href="/">Home menu</a></li>
        <li><a href="/user/">User menu</a></li>
        <li><a href="/user/new">Create new order</a></li>
        <li><a href="/user/sort/sort-book-price">Sort book by price</a></li>
        <li><a href="/user/sort/sort-book-availability">Sort book by availability</a></li>
        <li><a href="/user/sort/sort-book-publication">Sort book by publication</a></li>
        <li><a href="/user/sort/sort-book-title">Sort book by title</a></li>
      </ul>
    </div>
    <div id="main">
      <form th:method="POST" th:action="@{/user}" th:object="${order}">
        <label for="customerName">Enter customer: </label>
        <input type="text" th:field="*{customerName}" id="customerName"/>
        <div style="color:red" th:if="${#fields.hasErrors('customerName')}"
             th:errors="*{customerName}">customer error
        </div>
        <br/>
        <label th:for="checkbox">Enter books</label>
        <div th:each="book : ${books}">
          <input th:type="checkbox" th:name="orderBooksId" th:value="${book.getId()}" th:text="${book.toString()}">
        </div>
        <hr/>
        <input type="submit" value="Create!"/>
      </form>
    </div>
  </div>
  <div id="footer">
    <a href="/">Home page</a>
    <a>| @MyHbl4 2021</a>
    <span sec:authorize="isAuthenticated()">| Logged user: [[${#httpServletRequest.remoteUser}]]</span>
    <a th:href="@{/logout}">| Sign Out</a>
    </span>
  </div>
</div>
</body>
</html>