<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>New request</title>
</head>
<body>

<form th:method="POST" th:action="@{/requests}" th:object="${request}">
  <label for="book">Enter book: </label>
  <input type="text" th:field="*{book}" id="book"/>
  <div style="color:red" th:if="${#fields.hasErrors('book')}" th:errors="*{book}">book error</div>
  <br/>
  <input type="submit" value="Create!"/>
</form>
<h4><a href="/requests/">REQUEST MENU</a></h4>
<h4><a href="/">HOME MENU</a> </h4>

</body>
</html>