<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>request</title>
</head>
<body>
<p th:text="${'id:' + request.getId()}">VALUE</p><!--выыодит 'id:' id person-->
<p th:text="${'count:' + request.getCount()}">VALUE</p><!--выводит 'Name:' name person-->

<a th:href="@{/requests/{id}/edit(id=${request.getId()})}">Edit</a><!--выводит ссылку Edit которая
отправляет по ардресу редактирования этого персона-->
<form th:method="DELETE" th:action="@{/requests/{id}(id=${request.getId()})}">
  <input type="submit" value="Delete"/>
</form>
</body>
</html>