<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Ask details</title>
  <link rel="stylesheet" type="text/css" href="/URLToReachResourcesFolder/css/style.css">
</head>
<body>
<div id="container">
  <div id="header">
    <h1>BOOK SHOP</h1>
  </div>
  <div id="content">
    <div id="nav">
      <ul>
        <li><a href="/">Home menu</a></li>
        <li><a href="/books/">Book menu</a></li>
        <li><a href="/orders/">Order menu</a></li>
        <li><a href="/requests/">Request menu</a></li>
      </ul>
    </div>
    <div id="main">
      <h3>Enter the number of months</h3>
      <br>
      <form action="showDetails" method="get">
        <input type="text" name="months" placeholder="the number of months">
        <input type="submit" value="Calculate!">
      </form>
    </div>
  </div>
  <div id="footer">
    <a href="/">Home page</a>
    <a>@MyHbl4</a>
  </div>
</div>
</body>
</html>