<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>orders</title>
</head>
<body>

<h4><a href="/">HOME MENU</a> </h4>
<br/>
<a href="/orders/new">Create new order</a>
<br/>
<hr/>
<div th:each="order : ${orders}">
  <a th:href="@{/orders/{id}(id=${order.getId()})}" th:text="${'id:' + order.getId() + ', customer: ' + order.getCustomerName() + ', Price:' + order.getPrice() + ', Execution:' + order.getExecution()
  + ', Status:' + order.getOrderStatus()}">user</a>
</div>

</body>
</html>