<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>New order</title>
  <link rel="stylesheet" type="text/css" href="/URLToReachResourcesFolder/css/style.css">
</head>
<body>
<div id="container">
  <div id="header">
    <h1>BOOK SHOP</h1>
  </div>
  <div id="content">
    <div id="nav">
      <ul>
        <li><a href="/">Home menu</a></li>
        <li><a href="/books/">Book menu</a></li>
        <li><a href="/orders/">Order menu</a></li>
        <li><a href="/requests/">Request menu</a></li>
      </ul>
    </div>
    <div id="main">
      <form th:method="POST" th:action="@{/orders}" th:object="${order}">
        <label for="customerName">Enter customer: </label>
        <input type="text" th:field="*{customerName}" id="customerName"/>
        <div style="color:red" th:if="${#fields.hasErrors('customerName')}"
             th:errors="*{customerName}">customer error
        </div>
        <br/>
        <label th:for="checkbox">Enter books</label>
        <div th:each="book : ${books}">
          <input th:type="checkbox" th:name="orderBooksId" th:value="${book.getId()}" th:text="${book.toString()}">
        </div>
        <hr/>
        <input type="submit" value="Create!"/>
      </form>
    </div>
  </div>
  <div id="footer">
    <a href="/">Home page</a>
    <a>@MyHbl4</a>
  </div>
</div>
</body>
</html>