<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Order</title>
</head>
<body>

<p th:text="${'Order - ' + 'ID: ' + order.getId()
  + ', Customer name: ' + order.getCustomerName() + ', Price: ' + order.getPrice()
   + ', Order status: ' + order.getOrderStatus() + ', Execution: ' + order.getExecution()}">VALUE</p>
<p th:text="${'Books in order: ' + order.getBooks()}">VALUE</p>

<a th:href="@{/orders/{id}/edit(id=${order.getId()})}">Edit</a>
<form th:method="DELETE" th:action="@{/orders/{id}(id=${order.getId()})}">
  <input type="submit" value="Delete"/>
</form>
<h4><a href="/orders/">ORDER MENU</a></h4>
<h4><a href="/">HOME MENU</a> </h4>

</body>
</html>