<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Order</title>
</head>
<body>
<p th:text="${'id:' + order.getId()}">VALUE</p><!--выыодит 'id:' id person-->
<p th:text="${'Customer:' + order.getCustomerName()}">VALUE</p><!--выводит 'Name:' name person-->
<p th:text="${'Execution:' + order.getExecution()}">VALUE</p>
<p th:text="${'Status:' + order.getOrderStatus()}">VALUE</p>
<p th:text="${'Price:' + order.getPrice()}">VALUE</p>

<a th:href="@{/orders/{id}/edit(id=${order.getId()})}">Edit</a><!--выводит ссылку Edit которая
отправляет по ардресу редактирования этого персона-->
<form th:method="DELETE" th:action="@{/orders/{id}(id=${order.getId()})}">
  <input type="submit" value="Delete"/>
</form>
</body>
</html>