<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
  <meta charset="UTF-8">
  <title>Order</title>
  <link rel="stylesheet" type="text/css" href="/URLToReachResourcesFolder/css/style.css">
</head>
<body>
<div id="container">
  <div id="header">
    <h1>BOOK SHOP</h1>
  </div>
  <div id="content">
    <div id="nav">
      <ul>
        <li><a href="/">Home menu</a></li>
        <li><a href="/books/">Book menu</a></li>
        <li><a href="/orders/">Order menu</a></li>
        <li><a href="/requests/">Request menu</a></li>
      </ul>
    </div>
    <div id="main">
      <p th:text="${'Order - ' + 'ID: ' + order.getId()
  + ', Customer name: ' + order.getCustomerName() + ', Price: ' + order.getPrice()
   + ', Order status: ' + order.getOrderStatus() + ', Execution: ' + order.getExecution()}">
        VALUE</p>
      <p th:text="${'Books in order: ' + order.getBooks()}">VALUE</p>
      <hr/>
      <div>
        <form th:method="GET" th:action="@{/orders/{id}/edit(id=${order.getId()})}">
          <input type="submit" value="Edit"/>
        </form>
      </div>
      <br/>
      <div>
        <form th:method="PATCH" th:action="@{/orders/{id}/cancel(id=${order.getId()})}">
          <input type="submit" value="Cancel"/>
        </form>
      </div>
      <br/>
      <div>
        <form th:method="PATCH" th:action="@{/orders/{id}/close(id=${order.getId()})}">
          <input type="submit" value="Close"/>
        </form>
      </div>
      <br/>
      <div>
        <form th:method="DELETE" th:action="@{/orders/{id}(id=${order.getId()})}">
          <input type="submit" value="Delete"/>
        </form>
      </div>
    </div>
  </div>
  <div id="footer">
    <a href="/">Home page</a>
    <a>| @MyHbl4 2021</a>
    <span sec:authorize="isAuthenticated()">| Logged user: [[${#httpServletRequest.remoteUser}]]</span>
    <a th:href="@{/logout}">| Sign Out</a>
    </span>
  </div>
</div>
</body>
</html>