<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Update book</title>
  <link rel="stylesheet" type="text/css" href="/URLToReachResourcesFolder/css/style.css">
</head>
<body>
<div id="container">
  <div id="header">
    <h1>BOOK SHOP</h1>
  </div>
  <div id="content">
    <div id="nav">
      <ul>
        <li><a href="/">Home menu</a></li>
        <li><a href="/books/">Book menu</a></li>
        <li><a href="/orders/">Order menu</a></li>
        <li><a href="/requests/">Request menu</a></li>
      </ul>
    </div>
    <div id="main">
      <form th:method="PATCH" th:action="@{/books/{id}(id=${book.getId()})}" th:object="${book}">
        <label for="title">Enter title: </label>
        <input type="text" th:field="*{title}" id="title"/>
        <div style="color:red" th:if="${#fields.hasErrors('title')}" th:errors="*{title}">Name
          error
        </div>
        <br/>
        <label for="author">Enter author: </label>
        <input type="text" th:field="*{author}" id="author"/>
        <div style="color:red" th:if="${#fields.hasErrors('author')}" th:errors="*{author}">Author
          error
        </div>
        <br/>
        <label for="publication">Enter publication: </label>
        <input type="text" th:field="*{publication}" id="publication"/>
        <div style="color:red" th:if="${#fields.hasErrors('publication')}"
             th:errors="*{publication}">Publication error
        </div>
        <br/>
        <label for="price">Enter price: </label>
        <input type="text" th:field="*{price}" id="price"/>
        <div style="color:red" th:if="${#fields.hasErrors('price')}" th:errors="*{price}">Price
          error
        </div>
        <br/>
        <label for="status">Enter status IN_STOCK or OUT_OF_STOCK: </label>
        <input list="list" th:field="*{availability}" id="status"/>
        <datalist id="list">
          <option value="IN_STOCK"></option>
          <option value="OUT_OF_STOCK"></option>
        </datalist>
        <br/>
        <label for="delivery">Enter the date in the format yyyy-mm-dd: </label>
        <input type="text" th:field="*{deliveryDate}" id="delivery"/>
        <div style="color:red" th:if="${#fields.hasErrors('price')}" th:errors="*{deliveryDate}">
          Delivery
          error
        </div>
        <hr/>
        <input type="submit" value="Update!"/>
      </form>
    </div>
  </div>
  <div id="footer">
    <a href="/">Home page</a>
    <a>@MyHbl4</a>
  </div>
</div>
</body>
</html>


