<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Books</title>
</head>
<body>

<h4><a href="/">HOME MENU</a> </h4>
<hr/>
<a href="/books/new">Create new book</a>
<br/>
<hr/>
<a href="/books/sort-book-price">Sort book by price</a>
<br/>
<a href="/books/sort-book-availability">Sort book by availability</a>
<br/>
<a href="/books/sort-book-publication">Sort book by publication</a>
<br/>
<a href="/books/sort-book-title">Sort book by title</a>
<br/>
<a href="/books/sort-old-book-price">Sort old book by price</a>
<br/>
<a href="/books/sort-old-book-date">Sort old book by date</a>
<br/>
<hr/>
<div th:each="book : ${books}">
  <a th:href="@{/books/{id}(id=${book.getId()})}"
     th:text="${book.toString()}">user</a>
</div>

</body>
</html>