<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Book</title>
</head>
<body>
<p th:text="${'id:' + book.getId()}">VALUE</p><!--выыодит 'id:' id person-->
<p th:text="${'Title:' + book.getTitle()}">VALUE</p><!--выводит 'Name:' name person-->
<p th:text="${'Author:' + book.getAuthor()}">VALUE</p>
<p th:text="${'Publication:' + book.getPublication()}">VALUE</p>
<p th:text="${'Price:' + book.getPrice()}">VALUE</p>
<p th:text="${'Delivery date:' + book.getDeliveryDate()}">VALUE</p>
<p th:text="${'Status:' + book.getAvailability()}">VALUE</p>

<a th:href="@{/books/{id}/edit(id=${book.getId()})}">Edit</a><!--выводит ссылку Edit которая
отправляет по ардресу редактирования этого персона-->
<form th:method="DELETE" th:action="@{/books/{id}(id=${book.getId()})}">
  <input type="submit" value="Delete"/>
</form>
<h4><a href="/books/">BOOK MENU</a> </h4>

</body>
</html>